version: "3.8"
services:
  postgres:
    image: postgres:15
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: wintense
      POSTGRES_PASSWORD: wintense
      POSTGRES_DB: wintensecare
